/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e2702e;
    color: #6122c0;
    line-height: 1.6;
}

header {
    background-color: #4d25d2;
    color: #ee703d;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #b9a20e;
}

section {
    padding: 40px;
}

table, th, td {
  border: 1px solid blu;
}

table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
}


.interests {
    background-color: #da6014;
    border: 1px solid #0f70c0;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #821d1d;
    color: #ffffff;
}
